.destination_box {
  padding-top: 100px;
}

iframe {
  width: 700px;
  height: 600px;
  border: 0;
}
select {
  width: 350px;
  height: 35px;
}
.select_box {
  background-color: #efefef;
}
.pick_box {
  text-align: start;
  padding-left: 10px;
  padding-top: 10px;
}
.select_box {
  padding-bottom: 20px;
}
.select_box button {
  border: none;
  margin-top: 15px;
  width: 336px;
  height: 50px;
  background-color: #ff6e40;
  color: white;
}
.info_box img {
  width: 12%;
}
.info_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightblue;
  margin: 10px 0;
}

.distance {
  background-color: #ff6e40;
  color: white;
  padding: 10px;
}
.main_box {
  background-color: #efefef;
}
