Button img {
  width: 60%;
}
Button h2 {
  color: black;
}
.data_box Button {
  height: 200px;
  background-color: white;
  margin-right: 15px;
}
@media (min-width: 488px) and (max-width: 736px) {
  .data_box Button {
    margin-bottom: 15px;
  }
  Button img {
    width: 35%;
  }
}
